body {
  background-color: #eeeeee;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
  font-family: ubuntu, sans-serif;
  margin: 0;
}
